.data-resources-directory-page {
  background-color: $brighter-orange;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 4rem;
  }

  h1,
  h2 {
    line-height: 1.2em;
    text-transform: uppercase;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 2.5rem;
    min-width: 415px;
  }

  img {
    width: 100%;
  }

  .data-directory-hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    .data-map {
      min-height: 100px;
      width: 200px;
    }

    .one {
      background: center/100% url("/img/data-directory/data-map-1.gif") $brighter-orange
        no-repeat;

        &:hover {
          background: center/100% url("/img/data-directory/hover1.gif") 
          no-repeat;
        }
    }

    .two {
      background: center/100% url("/img/data-directory/data-map-2.gif") $brighter-orange
        no-repeat;

        &:hover {
          background: center/100% url("/img/data-directory/hover2.gif") 
          no-repeat;
        }
    }

    .three {
      background: center/100% url("/img/data-directory/data-map-3.gif") $brighter-orange
        no-repeat;

        &:hover {
          background: center/100% url("/img/data-directory/hover3.gif") 
          no-repeat;
        }
    }

    .four {
      background: center/100% url("/img/data-directory/data-map-4.gif") $brighter-orange
        no-repeat;

        &:hover {
          background: center/100% url("/img/data-directory/hover4.gif") 
          no-repeat;
        }
    }
  }

  p {
    color: $black;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    min-width: 500px;
    width: 90%;
  }

  .directory-text {
    max-height: 700px;
    max-width: 636px;
  }

  .directory-heading {
    margin-bottom: 3rem;
  }

  .data-resources-directory {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 100%;

    .learn-more-link {
      background-color: $brighter-orange;
      color: $white;
      margin: 1rem auto;
      max-width: 240px;
      padding: 1rem;
      text-align: center;
    }
  }

  .heading {
    margin-top: 1rem;
    margin-left: 4rem;
    width: 55%;
  }

  .data-leads-call-to-action {
    background-color: $blue;
    padding: 5rem;

    h2 {
      font-size: 1.75rem;
      font-weight: 700;
      margin: 0;
      min-width: 415px;
      width: 30%;
    }

    p {
      color: $white;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      font-weight: 300;
      margin-top: 0;
      min-width: 500px;
      width: 30%;
    }

    a {
      color: $white;
      background-color: $brighter-orange;
      margin-top: 2rem;
      max-width: 300px;
      text-align: center;
      padding: 0.5rem;
    }
  }

  @media (max-width: 992px) {
    & {
      .container {
        flex-direction: column;
      }

      .data-directory-hero {
        .data-map {
          min-height: 150px;
          width: 300px;
        }
      }
    }
  }

  @media (min-width: 1300px) {
    & {
      .data-directory-hero {
        .data-map {
          min-height: 150px;
          width: 300px;
        }
      }
    }
  }
}
