.data-corps {
    background-color: $light-gray;
  
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .data-corps-hero {
      align-items: center;
      display: flex;
      margin-bottom: 2rem;
    }
  
    .info-container {
      width: 100%;
  
      p {
        color: $dark-gray;
        font-size: 1.4rem;
        line-height: 1.9rem;
        margin: 0;
        margin-bottom: 1.5rem;
        width: 80%;
      }

      .data-corps-description {
        margin-bottom: 5rem;
        max-width: 590px;
      }

    }
  
    .data-corps-badge {
      max-width: 400px;
      width: 100%;
    }
  
    h1, h2 {
      margin: 0;
    }
  
    h1 {
      color: $purple;
      font-size: 3rem;
      margin-top: 2.5rem;
      text-transform: uppercase;
    }
  }
  
  .lab-leads-directory {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    color: $blue;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2.5rem;
  }
  
  iframe {
    margin: 1rem 0 3.5rem;
    min-height: 500px;
    width: 100%;
  } 

  .skill-badges-badge {
    max-width: 400px;
    width: 100%;
  }

  .skill-badges-section {
    background-color: $light-gray;
    padding-top: 2rem;

    h2,
    p {
      color: $black;
      width: 50%;
    }

    .skill-badges-info {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
      a {
        color: $brighter-orange;
      }

    p {
      margin-top: 2rem;
    }
  }

  .skill-badges-content {
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
    padding-bottom: 12rem;

    .container {
      align-items: center;
      display: flex;
    }
  }

  .badge-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-height: 436px;
    max-width: 255px;
    min-width: 255px;

    img {
      max-width: 190px;
      width: 100%;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      text-align: left;
    }

    p {
      font-size: 1rem;
      margin-top: 0;
      width: 80%;
    }
  }






  @media (max-width: 1200px) {
    .data-corps {
      .data-corps-hero {
        padding-top: 2.5rem;
        
        .info-container {
          align-items: center;
          display: flex;
          flex-direction: column;
        }

        .data-corps-description {

          font-size: 1.2rem;
        }
  
        .data-corps-badge {
          max-width: 300px;
        }
      }
      .skill-badges-section {
        .skill-badges-info {
          font-size: 1.4rem;
        }
      }

      .skill-badges-content {
        flex-wrap: wrap;
      }

      .badge-content {
        max-height: unset;
        padding: 1rem 0;

        img {
          max-width: 150px;
        }
      }

    }
  }


  
  @media (max-width: 993px) {
    .data-corps {
      .data-corps-hero {
        flex-direction: column-reverse;
      }
    }
  }

  
  @media (max-width: 768px) {
    .data-corps {
      .info-container {
        flex-direction: column;
  
        .data-corps-description {
          margin-bottom: 3rem;
        }
      }
    }
  }
  