// Variables

// Set custom colors

$orange:#DF6B00;
$blue:#113056;
$text-blue: #193053;
$grayish-blue: #233857;
$light-gray: #F1F2F2;
$gray: #5B6C83;
$dark-gray:#414042;
$white:#fff;
$black: #000;

$teal: #3EACAD;
$dark-green: #006169;
$purple: #614876;
$brighter-orange: #F36100;