{{- define "main" -}}
	<main>
	
	{{ if eq .Page.Section "data-leads" }}
		{{- partial "list-partials/data-leads-list-page.html" . -}}
	{{- end -}}
	
	{{ if eq .Page.Section "data-corps" }}
		{{- partial "list-partials/data-corps-list-page.html" . -}}
	{{- end -}}

	{{/*  Workshops Page Layout  */}}
	{{ if eq .Page.Section "workshops-and-clinics" }}
		{{- partial "list-partials/workshops-list-page.html" . -}}
	{{- end -}}

	{{ if eq .Page.Section "university-data-fellows" }}
		{{- partial "list-partials/university-data-fellows-list-page.html" . -}}
	{{- end -}}

	{{ if eq .Page.Section "workshops-and-clinics" }}
		{{- partial "list-partials/workshops-list-page.html" . -}}
	{{- end -}}

	{{ if eq .Page.Section "skill-certification" }}
		{{- partial "list-partials/skill-certification-list-page.html" . -}}
	{{- end -}}
	
	{{/*  Data Resources Page Layout  */}}
	{{ if eq .Page.Section "data-resources-directory" }}
		{{- partial "list-partials/data-resources-directory-list-page.html" . -}}
	{{- end -}}

	</main>
{{- end -}} 