{{- define "main" -}}
<main class="with-fixed-navbar">

	{{ if eq .Page.Section "about" }}
		{{ partial "single-pages/about.html" . }}
	{{- end -}}

	{{/*  Data Resources Page Layout  */}}
	{{ if eq .Page.Section "data-resources-directory" }}
		{{- partial "list-partials/data-resources-directory-page.html" . -}}
	{{- end -}}
	
	{{ if eq .Page.Section "workshops-and-clinics" }}
		{{ partial "single-pages/workshops-and-clinics-single-page.html" . }}
	{{- end -}}

	{{ if eq .Page.Section "teams" }}
	{{ partial "single-pages/data-leads-single-page.html" . }}

{{- end -}}

</main>
{{- end -}}