.footer {
  align-items: center;
  color: $gray;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 2rem;
  padding: 2rem;

  .wb-logo {
    max-width: 260px;
  }

  .wb-footer-image {
    max-width: 380px;
  }

  small {
    a {
      color: $blue;
    }
  }

 

  @media (max-width: 1200px) {
    & {
      .wb-logo {
        max-width: 200px;
      }
    
      .wb-footer-image {
        // margin-top: 1rem;
        max-width: 320px;
      }
    }
  }

  @media (max-width: 992px) {
    & {
      flex-direction: column;

      small {
        font-size: .9rem;
        margin: 2.5rem auto;
      }

      .wb-logo {
        max-width: 150px;
      }
    
      .wb-footer-image {
        max-width: 200px;
      }
    }
  }
}
