{{- define "directory" -}}
<section id="directory" class="directory">
  <div class="container">
    <div class="directory-text">
      <div class="directory-heading">
        <h2>Find World Bank Data Resources</h2>
        <p>Solutions for governments that combine the best of World Bank economics, data science, geospatial, data
          engineering, IT, domain expertise, and policy resources are difficult to realize, because the necessary
          combined
          resources are scattered throughout the organization.
        </p>
      </div>
      <h3>Get help Finding the Data Resources You Need</h3>
      <p>
        Feeling overwhelmed? Don't navigate Bank resources alone! Complete a super short Request for Support form and get connected to Bank data science and data resources that can meet your immediate needs. 
        <br />
        <a href="{{- .Site.Params.DataLabRequestForm -}}">
          <strong>Submit Request for Support</strong>
        </a>
      </p>
    </div>
    <a href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/data-directory-animated.gif" alt="World Bank Data Directory">
    </a>
  </div>
</section>
{{- end -}}