{{- define "directory" -}}
<section id="directory" class="directory">
  <div class="container">
    <div class="directory-text">
      <div class="directory-heading">
        <h2>Find World Bank Data Resources</h2>
        <p>Solutions for governments that combine the best of World Bank economics, data science, geospatial, data
          engineering, IT, domain expertise, and policy resources are difficult to realize, because the necessary
          combined
          resources are scattered throughout the organization.
        </p>
      </div>
      <h3>Get help Finding the Data Resources You Need</h3>
      <p>
        Feel overwhelmed? Don't navigate Bank resources alone! Managers and directors throughout the World Bank have nominated Data Leads to help YOU find the colleagues and internal resources you need to get your project off the ground.
        <br />
        <a href="/data-leads">
          <strong>Find your Lab Lead HERE</strong>
        </a>
      </p>
    </div>
    <a href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/data-directory-animated.gif" alt="World Bank Data Directory">
    </a>
  </div>
</section>
{{- end -}}