{{ define "header" }}
<header class="header" role="banner">
  <div class="container">
    <div class="header-text">
      <p class="data-lab-intro-text">
        <span>THE DATA LAB HELPS SOLVE DEVELOPMENT CHALLENGES</span>
        <br /> The Lab improves internal coordination between World Bank data talent; expands pro-bono partnerships with
        private firms and academic institutions; and builds staff awareness and capacity to deliver modern data
        solutions in operations and research. Join today!

      </p>
      <a class="call-to-action-link" href="{{- .Site.Params.DataLabRequestForm -}}" target="_blank">Ask the Lab Anything</a>
      <a class="call-to-action-link" href="{{- .Site.Params.DataLabMailingList -}}">Join our Mailing List</a>
    </div>
    <img class="header-image" src="{{- .Site.BaseURL -}}/img/header/data-lab-icon-heading.png" alt="">
  </div>
</header>

{{- end -}}
