{{ define "most-recent" }}
<section class="most-recent-workshop-section">
  <div class="container">
    {{ with .Site.GetPage "section" "workshops-and-clinics" }}
    {{ range sort .Pages ".Params.Scheduled_date" "desc" | first 1 }}
    <a href="{{- .Site.BaseURL -}}#workshops-and-clinics-table">
      <img class="calendar-icon" src="{{- .Site.BaseURL -}}/img/most-recent/data-lab-calender-icon.png" alt="Calendar Icon">
      <h2>Upcoming Event:</h2>
      <div class="scheduled-date">
        <h2 class="most-recent">{{- .Params.scheduled_date -}}</h2>
      </div>
      <h2>{{- .Title -}}</h3>
    </a>
    {{- end -}}
    {{- end -}}
  </div>
</section>
{{- end -}}