{{- define "section-cards" -}}
<section class="section-cards">
  <div class="container">
    <ul class="cards-container">
      <div class="flex-column">
        <h2 id="data-resources" class="section-heading">Find Data Science Resources</h2>
        <li>
          <div class="card">
            <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataLeadsLink -}}">
              <div class="icon-container">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/skill-badges/data-leads-badge.svg"
                  alt="The Data Leads Network">
              </div>
            </a>
            <div class="text-container">
              <h3>
                <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataLeadsLink -}}">The Lab Leads Network</a>
              </h3>
              <p>
                Got data questions? Contact your unit Data Lead or submit a <a href="https://bit.ly/DataLabForm">Request for Support</a> form. 
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataCorpsLink -}}">
              <div class="icon-container">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/data-corps/data-corps-badge.svg"
                  alt="Data Corps">
              </div>
            </a>
            <div class="text-container">
              <h3>
                <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataCorpsLink -}}">Data Corps </a>
              </h3>
              <p>
              Need a data scientist? Work with staff who have earned WB Data Skill Certifications to support your project. 
              </p>
            </div>
          </div>
        </li>
      </div>
      <div class="flex-column">
        <h2 id="external-collaborators" class="section-heading">Find External Collaborators</h2>
        <li>
          <div class="card">
            <div class="icon-container">
              <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataPartnershipsLink -}}" target="_blank"
                rel="noreferer" rel="noopener">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/skill-badges/data-partners-badge.svg"
                  alt="Development Data Partnerships">
              </a>
            </div>
            <div class="text-container">
              <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.DataPartnershipsLink -}}" target="_blank"
                rel="noreferer" rel="noopener">
                <h3>Development Data Partnership</h3>
              </a>
              <p>Need more frequent, granular data in your project? Try one of our private sector partnerships. ​</p>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.UniversityDataFellowsLink -}}">
              <div class="icon-container">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/data-fellows/data-fellows-badge.svg"
                  alt="University Data Fellows">
              </div>
            </a>
            <div class="text-container">
              <h3>
                <a href="{{- .Site.Params.BaseURL -}}{{- .Site.Params.UniversityDataFellowsLink -}}">
                  University Data Fellows
                </a>
              </h3>
              <p>
                Want to work with a data science student or team to support your project? Submit an application to our
                University Data Fellows program. ​
              </p>
            </div>
          </div>
        </li>
      </div>
      <div class="flex-column">
        <h2 id="digital-literacy" class="section-heading">Build Our Data Strength</h2>
        <li>
          <div class="card">
            <a href="{{- .Site.Params.BaseURL -}}#workshops-and-events">
              <div class="icon-container">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/workshops-and-clinics/clinics-badge.svg"
                  alt="Workshops and Clinics">
              </div>
              <div class="text-container">
                <h3>Workshops and Events</a></h3>
                <p>
                  Stay current on best data practices through meetings with external experts and data community activities. All past activity materials and recordings are available on the Lab site. 
                </p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="card">
            <a href="{{- .Site.Params.BaseURL -}}/skill-certification">
              <div class="icon-container">
                  <img class="badges" src="{{- .Site.Params.BaseURL -}}img/skill-badges/skill-badge.svg"
                    alt="Applied Research">
              </div>
              <div class="text-container">
                  <h3>Data Skill Certification</h3>
                <p>
                  Train for, earn, and be recognized for data skills in the World Bank. 
                </p>
              </div>
            </a>
          </div>
        </li>
      </div>
      <div class="flex-column">
        <h2 id="digital-literacy" class="section-heading">Find Code<br>Resources</h2>
        <li>
          <div class="card">
            <a href="https://worldbank.github.io">
              <div class="icon-container">
                <img class="badges" src="{{- .Site.Params.BaseURL -}}img/data-lab/DataLab_Symbol.svg"
                  alt="Workshops and Clinics">
              </div>
              <div class="text-container">
                <h3><a href="https://worldbank.github.io">code.worldbank.org</a></h3>
                <p>
                  Find reusable code prepared for World Bank projects (forthcoming).
                </p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="card">
            <a href="https://worldbank.github.io/template">
              <div class="card">
                <div class="icon-container">
                    <img class="badges" src="{{- .Site.Params.BaseURL -}}img/data-lab/DataLab_Symbol.svg"
                      alt="Applied Research">
                </div>
                <div class="text-container">
                  <h3>Code Documentation Template</a></h3>
                  <p>
                    Make your code shareable, citable, reproducible, and reusable with the World Bank Data Science Template. 
                  </p>
                </div>
              </div>
            </a>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>

{{- end -}}
