{{ define "workshops" }}
<section class="workshops">
  <div class="container">
    <div class="workshops-heading">
      <h2 id="workshops-and-clinics">{{- .Site.Params.WorkshopsSectionLabel -}}</h2>
      <p>Lab Leads regularly organize operationally-relevant learning and networking activities to support staff
        capacity building and cross-VPU collaboration. Activity materials are recorded for use by teams so they can
        benefit all colleagues, regardless of time zone.
      </p>
    </div>
    <div class="workshops-list-page-container">
      <table id="workshops-and-clinics-table">
        <thead class="table-head">
          <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Materials</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {{ with .Site.GetPage "section" "workshops-and-clinics" }}
          {{ range sort .Pages ".Params.Scheduled_date" "desc" }}
          <tr>
            <td class="date">{{ if .Params.Scheduled_date }}{{- .Params.Scheduled_date -}}{{- end -}}</td>
            <td class="title"><strong>{{- .Title -}}</strong></td>
            <td>{{ if .Params.Workshop_types }}{{- delimit .Params.Workshop_types ", " | humanize -}}{{- end -}}</td>
            <td class="summary">{{- .Content -}}</td>
            <td class="material-links">
              {{ if .Params.Slides_path }}

              <a href="{{- .Params.Slides_path -}} " title="Slides">
                {{ partial "fontawesome.html" "file-powerpoint-solid" }}
              </a>
              {{- end -}}

              {{ if .Params.Image_path }}
              <a href="{{- .Params.Image_path -}} " title="Photos">
                {{ partial "fontawesome.html" "image-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Video_path }}
              <a href="{{- .Params.Video_path -}} " title="Video">
                {{ partial "fontawesome.html" "video-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Extra_link_1 }}
              <a href="{{- .Params.Extra_link_1 -}} ">
                {{ partial "fontawesome.html" "link-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Extra_link_2 }}
              <a href="{{- .Params.Extra_link_2 -}} ">
                {{ partial "fontawesome.html" "link-solid" }}
              </a>

              {{- end -}}
            </td>
          </tr>
          {{- end -}}
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
</section>
{{- end -}}