<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>{{ .Site.Title }}</title>

<link rel="icon" href="{{- .Site.BaseURL -}}/favicon.ico" type="image/x-icon">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Open+Sans:wght@300&display=swap"
  rel="stylesheet">

<script type="module" src="/js/functions/mobileMenu.js" defer></script>

{{ if eq .Kind "home" }}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@5.0.3/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@5.0.3" type="text/javascript" defer></script>
<script src="{{- .Site.BaseURL -}}/js/functions/workshops-and-clinics-table.js" type="text/javascript" defer></script>
{{- end -}}

{{ if eq .Page.Section "workshops-and-clinics" }}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@5.0.3/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@5.0.3" type="text/javascript" defer></script>
<script src="{{- .Site.BaseURL -}}/js/functions/workshops-and-clinics-table.js" type="text/javascript" defer></script>
{{- end -}}

{{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">