<nav id="mainNav" class="navbar" role="navigation" aria-label="main navigation">
	<div class="nav-container">
		<div class="mobile-layout">
			<a href="/">
				<img class="wb-logo" src="{{- .Site.BaseURL -}}/img/data-lab/DataLab_Main_Version.png" alt="{{- .Site.Title -}}">
			</a> 
			<div class="navbar-end navbar-menu">
				<div class="nav-links">
					<a href="{{- .Site.Params.DataLabRequestForm -}}">Ask the Lab Anything</a>
					<a href="/data-resources-directory">Find Data Science Resources</a>
					<a href="/#workshops-and-events">Workshops & Events Materials</a>
				</div>
			</div>
		</div>
		<button class="burger-menu" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		<span aria-hidden="true" class="bars"></span>
	</button>
	</div>
</nav>
