<section class="data-resources-directory-page">
  <div class="container">
    <div class="directory-text">
      <div class="directory-heading">
        <h1>{{- .Site.Params.DataDirectoryLabel -}}</h1>
        <p>Find World Bank Data Science Resources 
          Are you a data scientist and looking for a place to start? The Data Lab has pulled together the basics. But if you ever get stuck, don't hesitate to reach out: datalab@worldbank.org.  
        </p>
      </div>
    </div>
  </div>
  <div class="data-leads-call-to-action">
    <h2>Get help Finding the Data Resources You Need</h2>
    <p>
      Feel overwhelmed? Don’t navigate Bank resources alone! Managers and directors throughout the World Bank have
      nominated Data Leads to help YOU find the colleagues and internal resources you need to get your project off the ground.
      <br />
      <a href="{{- .Site.BaseURL -}}{{- .Site.Params.DataLeadsLink -}}">
        <strong>Find your Lab Lead HERE.</strong>
      </a>
    </p>
  </div>
</section>