<section class="data-resources-directory-page">
  <div class="container">
    <div class="directory-text">
      <div class="directory-heading">
        <h1>{{- .Site.Params.DataDirectoryLabel -}}</h1>
        <p>Solutions for governments that combine the best of World Bank economics, data science, geospatial, data
          engineering, IT, domain expertise, and policy resources are difficult to realize, because the necessary
          combined resources are scattered throughout the organization, as illustrated in this operations-focused data
          services map.
        </p>
      </div>
    </div>
    <div class="data-directory-hero">
      <a class="data-map one" href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}#collect-data"
        title="I Need To Collect New Data">
      </a>
      <a class="data-map two" href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}#existing-data"
        title="I'm Looking For Existing Data">

      </a>
      <a class="data-map three" href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}#manage-data"
        title="I Need To Manage Data">

      </a>
      <a class="data-map four" href="{{- .Site.BaseURL -}}{{- .Site.Params.DataResourcesLink -}}#insights-data"
        title="I Need Insights From Data">

      </a>
    </div>
  </div>
  <div class="data-resources-directory">
    <img id="existing-data" class="heading" src="{{- .Site.BaseURL -}}/img/data-directory/existing-data-heading.png"
      alt="Existing Data Heading Image">
    <a
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs​">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/existing-data.png" alt="I'm looking for existing data map">
    </a>
    <a class="learn-more-link" target="_blank"
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs">Learn
      More About These Teams</a>
    <img src="{{- .Site.BaseURL -}}/img/data-directory/dotted--gray-line.png" alt="">
    <img id="collect-data" class="heading" src="{{- .Site.BaseURL -}}/img/data-directory/collect-data-heading.png"
      alt="">
    <a
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs​">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/collect-new-data.png" alt="I need to collect new data map">
    </a>
    <a class="learn-more-link" target="_blank"
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs">Learn
      More About These Teams</a>
    <img src="{{- .Site.BaseURL -}}/img/data-directory/dotted--gray-line.png" alt="">
    <img id="manage-data" class="heading" src="{{- .Site.BaseURL -}}/img/data-directory/manage-data-heading.png" alt="">
    <a
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs​">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/manage-data.png" alt="">
    </a>
    <a class="learn-more-link" target="_blank"
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs">Learn
      More About These Teams</a>
    <img src="{{- .Site.BaseURL -}}/img/data-directory/dotted--gray-line.png" alt="">
    <img id="insights-data" class="heading" src="{{- .Site.BaseURL -}}/img/data-directory/insights-heading.png" alt="">
    <a
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs​">
      <img src="{{- .Site.BaseURL -}}/img/data-directory/insights-from-data.png" alt="">
    </a>
    <a class="learn-more-link" target="_blank"
      href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/hkrambeck_worldbank_org/ETaXTEUWKgpHkNbr-6OybiMBJVdVWvCy7iASsC_keFc-kg?e=NnsYMs">Learn
      More About These Teams</a>
    <img src="{{- .Site.BaseURL -}}/img/data-directory/dotted--gray-line.png" alt="">
  </div>
  <div class="data-leads-call-to-action">
    <h2>Get help Finding the Data Resources You Need</h2>
    <p>
      Feel overwhelmed? Don’t navigate Bank resources alone! Managers and directors throughout the World Bank have
      nominated Data Lab Leads to help YOU find the colleagues and internal resources you need to get your project off
      the ground.
      <br />
      <a href="{{- .Site.BaseURL -}}{{- .Site.Params.DataLeadsLink -}}">
        <strong>Find your Lab Lead HERE.</strong>
      </a>
    </p>
  </div>
</section>