<section class="data-corps">
  <div class="container">
    <div class="data-corps-hero">
      <div class="info-container">
        <h1>{{- .Site.Params.DataCorpsLabel }}</h1>
        <h2 style="padding-left:5px;">
          Dreaming of a one-stop shop for all our data
          acquisition and analytical needs? Hoping to apply
          your techie skills to a range of projects? We're on it!
        </h2>
<br />
<br />

          <p class="data-corps-description">
            One of the most frequently requested services from our operations teams is a “one stop shop” for data services.
            Data Corps would be 6-7 person teams, drawn from different Bank VPUs, which engage in a “tour of duty” for a 6-month period, during which corps members dedicate one-day per week helping task teams get the data components of their projects off the ground,
            as well as documenting their work and creating repositories of resources and materials that all can leverage. Corps would be supported with ITS “sandbox” resources to support data storage and processing for prototyping concepts.
            Each cohort may pull staff from current clusters of data science and geospatial talent in DEC and ITS, but also create opportunities for talent in other teams.
          </p>
      </div>
      <img class="data-corps-badge" src="{{- .Site.Params.BaseURL -}}/img/data-corps/data-corps-badge.svg"
        alt="Data Corps Data Lab Badge">
    </div>
  </div>
  <div class="skill-badges-section">
    <div class="container">
      <div class="skill-badges-content">
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-science-badge.svg" alt="Data Science Badge">
          <h2>Data Science</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-engineering-badge.svg" alt="">
          <h2>Data Engineering</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/geospatial-analytics-badge.svg" alt="">
          <h2>Geospatial Analytics</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-collections-badge.svg" alt="Data Collections Badge">
          <h2>Data Collection</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-visualization-badge.svg" alt="">
          <h2>Data Visualization</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
      </div>
    </div>
</section>
