<section class="data-corps">
  <div class="container">
    <div class="data-corps-hero">
      <div class="info-container">
        <h1>{{- .Site.Params.DataCorpsLabel }}</h1>
          <p class="data-corps-description">
            As data availability and analytical methods rapidly advance, World Bank operations and research teams are increasingly seeking data-related support -- alternative data acquisition, modern data science and geospatial analytical methods, and web-based dissemination solutions. Where is a Bank colleague to begin? 
            <br>
            The Data Corps is a registry of staff and STCs who: (i) have passed at least on World Bank Skill Certification exams; and (ii) have voluntarily opted into the registry to signal their availability and interest in providing cross-support.   
          </p>

          <p class="data-corps-description">
            Task teams benefit by drawing upon a wide pool of colleagues from across the Bank, quickly finding the right fit at the right time.  Data Corps members get to build their portfolios, using their skills to solve a range of challenges, all while building critical social and technical networks between units and teams. 
          <p>

          <p>
            Interested in joining the Corps? Start with earning a WB Data Skills Certification.   
          </p>
          </div>

      <img class="data-corps-badge" src="{{- .Site.Params.BaseURL -}}/img/data-corps/data-corps-badge.svg"
        alt="Data Corps Data Lab Badge">
    </div>
    <div class="data-corps-directory">
      <h2>Projects Supported through the Data Corps Program</h2>
    </div>
  </div>
</section>
