<section class="data-corps">
  <div class="container">
    <div class="data-corps-hero">
      <div class="info-container">
        <h1>{{- .Site.Params.DataCorpsLabel }}</h1>
        <p class="data-corps-description">
          Dreaming of a one-stop shop for all our data
          acquisition and analytical needs? Hoping to apply
          your techie skills to a range of projects? SOON!
        </p>
      </div>
      <img class="data-corps-badge" src="{{- .Site.Params.BaseURL -}}/img/data-corps/data-corps-badge.svg"
        alt="Data Corps Data Lab Badge">
    </div>
  </div>
  <div class="skill-badges-section">
    <div class="container">
      <div class="skill-badges-content">
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-science-badge.svg" alt="Data Science Badge">
          <h2>Data Science</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-engineering-badge.svg" alt="">
          <h2>Data Engineering</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/geospatial-analytics-badge.svg" alt="">
          <h2>Geospatial Analytics</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-collections-badge.svg" alt="Data Collections Badge">
          <h2>Data Collection</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-visualization-badge.svg" alt="">
          <h2>Data Visualization</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
      </div>
    </div>
</section>