<section class="data-leads">
  <div class="container">
    <div class="data-leads-hero">
      <div class="info-container">
        <h1>Data Leads Network</h1>
        <p class="data-leads-description">Data Leads are director-nominated focal points for teams across
          all VPUs, tasked with linking their colleagues who are seeking data-related resources to the other
          Lab Leads. Through this system, teams can be connected to the data resources they need, while
          avoiding the need to set up a centralized “help desk”. To see how Leads connect staff, see our
<a href="https://worldbankgroup-my.sharepoint.com/:x:/g/personal/ccalderon2_worldbank_org/EecIznWxnE1Fk3iyzBC-qbsBzzpPE9nm4Y6jDY4OqKFaFA"> Request for Support Tracker.</a>
<br>
<br> Data Leads also contribute towards <a href="/">Data Lab</a> program design and implementation, and they meet monthly to share and learn best practices.

        <br><br>
        <b>Find your <a href="/data-leads">Data Lead</a> below. Don’t see a Lead for your team? Contact us at <a href="{{- .Site.Params.DataLabEmail -}}">datalab@worldbank.org</a>.</b>
      </p>
      </div>
      <img class="data-leads-badge" src="{{- .Site.Params.BaseURL -}}/img/badges/data-leads-badge.svg">
    </div>
    <div class="lab-leads-directory">
      <h2>Data Leads Directory</h2>
      <iframe width="100%" height="800" frameborder="0" scrolling="no"
        src="{{- .Site.Params.DataLabDirectory -}}"></iframe>
    </div>
  </div>
  <div class="about-data-leads">
    <div class="container">
      <div class="text-container">
        <h2 class="about-leads-heading">WANT TO BECOME A DATA LEAD?​</h2>
        <p>
          With our support, Data Leads are among the most technically current, well-connected staff in their units. They help their colleagues find the resources they need to solve the most important development challenges. Data Leads can use the Lab as a platform to launch large initiatives, from high-level partnerships to clinics and crowdfunding new. 
          Interested in learning more? Checkout the Data Lead handbook and the drop us a note: <a href="mailto:datalab@worldbank.org!">datalab@worldbank.org!</a>
        </p>
      </div>
      <img src="{{- .Site.BaseURL -}}/img/data-leads/Questions.png" alt="">
    </div>
  </div>
</section>
