<section class="skill-badges-list-page">
  <div class="container">
    <div class="skill-badges-hero">
      <div class="hero-text">
        <h1>Skill Certification Program (Beta)</h1>
        <p>Who does what? What do I need to learn? The World Bank Development Data Group is
          demystifying data career streams, starting with a new
          Skill Certification Program.
        </p>
      </div>
      <img class="skill-badges-badge" src="{{- .Site.BaseURL -}}/img/skill-badges/skill-badge.svg"
        alt="Skill Badges Badge">
    </div>

  </div>
  </div>
  <div class="skill-badges-section">
    <div class="container">
      <p class="skill-badges-info">
        As the Bank's approach to data and analytics develops, so does the need to formally recognize staff expertise in data fields. However, unlike traditional World Bank disciplines - engineering, economics, law, etc. - mastery in data science can be difficult to confirm, since the quality and composition of degree programs vary substantially, and, more critically, many data skills can be learned on-line throughout one's career, requiring self-reporting for skill mastery.
        <br><br>
        For efficiency and transparency in recognizing staff data science skillsets, as well as to incentivize staff to acquire new data science skills, the Data Lab, in coordination with the Data Science and Statistics (“Data”) Talent Board <goes to Intranet site>, supports a voluntary opt-in skills certification program, whereby staff are invited to take an on-line exam to earn a leveled data science skills certification.
      </p>
      <h2 class="skill-badges-info">Benefits to Certified Staff and STCs</h2>
      <p class="skill-badges-info">
        Certifications are posted on staff profile pages and searchable through the World Bank People Directory. Certified staff are invited to be included in the Data Corps registry, through which they will receive opportunities to apply their skills to different projects through cross-support, as well as notifications about training opportunities for leveling up.  
      </p>

      <div>
        <h2 class="skill-badges-info">How it Works?</h2>
        <div>
          <h4 class="skill-badges-info">Step 1. Review Criteria and Select Certification Test</h4>
          <p class="skill-badges-info">
          Review certification requirements and accompanying training materials: 
          </p>
          <ul>
            <li class="skill-badges-info">
              <a href="">Data Science (Level I-III) </a>
            </li>
            <li class="skill-badges-info">
              <a href="">AI (Level I-II)</a>
            </li>
            <li class="skill-badges-info">
              <a href="">Geospatial Analytics (Level I-III)</a>
            </li>
            <li class="skill-badges-info">
              <a href="">Data Visualization (Level I-II) </a>
            </li>
            <li class="skill-badges-info">
              <a href="">
                Surveys (Level I-III)</a>
            </li>
            <li class="skill-badges-info">
              <a href="">Data Engineering (forthcoming)</a>
            </li>
          </ul>
        </div>
        <div>
          <h4 class="skill-badges-info">Step 2. Take Certification Test</h4>
          <p class="skill-badges-info">
            There is a separate certification test for each skill (e.g., data science, geospatial analytics) and level (e.g., level I, level II). The level tests are sequential, so Level I must be completed before you can take Level II.  
            <br><br>
            The tests are mostly task-based. For example, depending on skills being tested for, colleagues must be prepared to demonstrate their skills through such exercises as generating descriptive statistics from a dataset, completing a code notebook, preparing a map, identifying the flaws in a survey design, or presenting a dataset as a dashboard.  
          </p>
        <div class="skill-badges-section">
          <div class="container">
            <p class="skill-badges-info"><b>Here are links to all current Skill Certification Tests on offer:</b></p>
            <div class="skill-badges-content">
                <div class="badge-content">
                  <a class="badge-content" href="">
                    <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-science-badge.svg" alt="Data Science Badge">
                    <!--<p>
                        Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit,
                        sed diam nonummy nibh
                        euismod tincidunt ut laoreet
                        dolore magna aliquam erat
                        volutpat.
                      </p>-->
                  </a>
                </div>
                <div class="badge-content">
                  <a class="badge-content" href="">
                    <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-engineering-badge.svg" alt="">
                    <!--<p>
                      Lorem ipsum dolor sit amet,
                      consectetuer adipiscing elit,
                      sed diam nonummy nibh
                      euismod tincidunt ut laoreet
                      dolore magna aliquam erat
                      volutpat.
                    </p>-->
                  </a>
                </div>
                <div class="badge-content">
                  <a class="badge-content" href="">
                    <img src="{{- .Site.BaseURL -}}/img/skill-badges/geospatial-analytics-badge.svg" alt="">
                    <!--<p>
                      Lorem ipsum dolor sit amet,
                      consectetuer adipiscing elit,
                      sed diam nonummy nibh
                      euismod tincidunt ut laoreet
                      dolore magna aliquam erat
                      volutpat.
                    </p>-->
                  </a>
                </div>
                <div class="badge-content">
                  <a class="badge-content" href="">
                    <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-collections-badge.svg" alt="Data Collections Badge">
                    <!--<p>
                      Lorem ipsum dolor sit amet,
                      consectetuer adipiscing elit,
                      sed diam nonummy nibh
                      euismod tincidunt ut laoreet
                      dolore magna aliquam erat
                      volutpat.
                    </p>-->
                  </a>
                </div>
                <div class="badge-content">
                  <a class="badge-content" href="">
                    <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-visualization-badge.svg" alt="">
                    <!--<p>
                      Lorem ipsum dolor sit amet,
                      consectetuer adipiscing elit,
                      sed diam nonummy nibh
                      euismod tincidunt ut laoreet
                      dolore magna aliquam erat
                      volutpat.
                    </p>-->
                  </a>
                </div>
              </div>
            </div>
            <div>
                <h4 class="skill-badges-info">Step 3. Opt into the Data Corps Registry</h4>
                <p class="skill-badges-info">
                  There is a separate certification test for each skill (e.g., data science, geospatial analytics) and level (e.g., level I, level II). The level tests are sequential, so Level I must be completed before you can take Level II.  
                  <br><br>
                  The tests are mostly task-based. For example, depending on skills being tested for, colleagues must be prepared to demonstrate their skills through such exercises as generating descriptive statistics from a dataset, completing a code notebook, preparing a map, identifying the flaws in a survey design, or presenting a dataset as a dashboard.  
                </p>
              </div>
            </div>
            <div>
              <h4 class="skill-badges-info">Step 4. Keep Going!</h4>
              <p class="skill-badges-info">
                Once you receive your skill certification and register for the Data Corps, a whole new path of career advancement will open up to you, with new opportunities to build your skills and experience, as well as to learn more deeply about the scope of Bank operations. Good luck! 
              </p>
            </div>
          </div>
      </div>
      <div class="skill-badges-section">
        <h2>How Skill Requirements Were Developed </h2>
          <p class="skill-badges-info">
            The skill matrices were created by a Data Talent Board <Link to Data Talent Board Intranet Site> Technical Working Group, led by the Data Lab and comprised of 20 staff who use these skills in their everyday work and external experts. Here is a link to the Data Skills Certification Pilot Technical Working Group <Word Document on SharePoint>. Periodically, the Data Talent Board will review these standards and evaluate whether updates are required.  
          </p>
          <br><br>
      </div>
</section>