<section class="skill-badges-list-page">
  <div class="container">
    <div class="skill-badges-hero">
      <div class="hero-text">
        <h1>{{- .Site.Params.SkillBadgesLabel -}}</h1>
        <p>Who does what? What do I need to learn? The DEC Data Group is
          demystifying data career streams, starting with a new
          Skill Badge system.
        </p>
      </div>
      <img class="skill-badges-badge" src="{{- .Site.BaseURL -}}/img/skill-badges/skill-badge.svg"
        alt="Skill Badges Badge">
    </div>

  </div>
  </div>
  <div class="skill-badges-section">
    <div class="container">
      <p class="skill-badges-info">
        The Development Economics Data Group is tasked with working with HR to establish the data professional career
        stream. While this may take some time, in the interim, to meet the urgent need to identify relevant data skills
        for forming multi-disciplinary teams, the Lab proposes establishing a certification, or “badge” system. The Lab
        will establish criteria for staff to apply for badges they can affix to their email signatures – Data Science
        Level 1-3; Geographer Level 1-3; Data Visualization Level 1-3; etc. -- with descriptions of the skills
        associated with each of these available through link to the Lab website. The Lab would then maintain a
        repository of staff with these skillsets, able to support formation of multi-disciplinary teams and staff the
        rotating Data Corps. ​

        Critically, the training and workshop program will underpin the badge system, giving staff the ability to
        laser-focus their learning on those activities that will help them “level up” in the badge system. ​

        ​

        Want to join the Skill Badge team? Write to us! <a
          href="mailto:datalab@worldbank.org!">datalab@worldbank.org</a>
      </p>
      <div class="skill-badges-content">
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-science-badge.svg" alt="Data Science Badge">
          <h2>Data Science</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-engineering-badge.svg" alt="">
          <h2>Data Engineering</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/geospatial-analytics-badge.svg" alt="">
          <h2>Geospatial Analytics</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-collections-badge.svg" alt="Data Collections Badge">
          <h2>Data Collection</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
        <div class="badge-content">
          <img src="{{- .Site.BaseURL -}}/img/skill-badges/data-visualization-badge.svg" alt="">
          <h2>Data Visualization</h2>
          <!--<p>
            Lorem ipsum dolor sit amet,
            consectetuer adipiscing elit,
            sed diam nonummy nibh
            euismod tincidunt ut laoreet
            dolore magna aliquam erat
            volutpat.
          </p>-->
        </div>
      </div>
    </div>
</section>