<section class="skill-badges-list-page">
  <div class="container">
    <div class="skill-badges-hero">
      <div class="hero-text">
        <h1>Skill Certification Program</h1>
        <p>Earn formal recognition for your data skills through the World Bank Data Skills Certification program and explore learning pathways to level up. 
        </p>
      </div>
      <img class="skill-badges-badge" src="{{- .Site.BaseURL -}}/img/badges/skill-badge.svg"
        alt="Skill Badges Badge">
    </div>
  </div>
  </div>
  <div class="skill-badges-section">
    <div class="container">
      <img src="{{- .Site.BaseURL -}}/img/badges/DataSkilL_INFO.png">
      <div class="skill-badges-button">
        <a href="/">View Skill Matrices</a>
        <a href="/">Go to Certification Platform</a>
      </div>
      <p class="skill-badges-info">
        As the Bank's approach to data and analytics develops, so does the need to formally recognize staff expertise in data fields. However, unlike traditional World Bank disciplines - engineering, economics, law, etc. - mastery in data science can be difficult to confirm, since the quality and composition of degree programs vary substantially, and, more critically, many data skills can be learned on-line throughout one's career, requiring self-reporting for skill mastery.
        <br><br>
        For efficiency and transparency in recognizing staff data science skillsets, as well as to incentivize staff to acquire new data science skills, the Data Lab, in coordination with the Data Science and Statistics (“Data”) Talent Board <goes to Intranet site>, supports a voluntary opt-in skills certification program, whereby staff are invited to take an on-line exam to earn a leveled data science skills certification.
      </p>
      <h2 class="skill-badges-info">Benefits to Certified Staff and STCs</h2>
      <p class="skill-badges-info">
        Certifications are posted on staff profile pages and searchable through the World Bank People Directory. Certified staff are invited to be included in the Data Corps registry, through which they will receive opportunities to apply their skills to different projects through cross-support, as well as notifications about training opportunities for leveling up.  
      </p>
      <div>
        <h2 class="skill-badges-info">How it Works</h2>
        <div>
          <h4 class="skill-badges-info">Step 1. Review Criteria and Select Certification Test</h4>
          <p class="skill-badges-info">
          <b>Review certification requirements and accompanying training materials:</b>
          </p>
          <div class="skill-badges-section">
            <div class="container">
              <div class="skill-badges-content">
                  <div class="badge-content">
                    <a class="badge-content" href="">
                      <img src="{{- .Site.BaseURL -}}/img/badges/Artificial Intelligence 3.svg">
                    </a>
                  </div>
                  <div class="badge-content">
                    <a class="badge-content" href="https://worldbankgroup.sharepoint.com/:w:/s/DataLabFiles/EVJQLk5uULxHgXZ74YVyRCgB3pnfqzfyxOscZ2q_05ydmg?e=8Evn2B">
                      <img src="{{- .Site.BaseURL -}}/img/badges/Data Science 3.svg">
                    </a>
                  </div>
                  <div class="badge-content">
                    <a class="badge-content" href="">
                      <img src="{{- .Site.BaseURL -}}/img/badges/Data Visualization 3.svg">
                    </a>
                  </div>
                  <div class="badge-content">
                    <a class="badge-content" href="https://worldbankgroup.sharepoint.com/:w:/s/DataLabFiles/EYosXdrEe81Hh9lyI-BGr3kB5zK1rXD1utZRbcJDBuDN9Q?e=ehRPoj">
                      <img src="{{- .Site.BaseURL -}}/img/badges/Geospatial Analytics 3.svg" alt="Data Collections Badge">
                    </a>
                  </div>
                  <div class="badge-content">
                    <a class="badge-content" href="">
                      <img src="{{- .Site.BaseURL -}}/img/badges/Surveys 3.svg">
                    </a>
                  </div>
                </div>
              </div>
        </div>
        <div>
          <h4 class="skill-badges-info">Step 2. Take Certification Test</h4>
          <p class="skill-badges-info">
            There is a separate certification test for each skill (e.g., data science, geospatial analytics) and level (e.g., level I, level II). The level tests are sequential, so Level I must be completed before you can take Level II.  
            <br><br>
            The tests are mostly task-based. For example, depending on skills being tested for, colleagues must be prepared to demonstrate their skills through such exercises as generating descriptive statistics from a dataset, completing a code notebook, preparing a map, identifying the flaws in a survey design, or presenting a dataset as a dashboard.  
            <br><br>
            <b>You can access the platform for all current tests on offer:</b>
          </p>
          <div class="skill-badges-button">
            <a href="/">Go to Certification Platform</a>
        </div>
        <div>
            <h4 class="skill-badges-info">Step 3. Opt into the Data Corps Registry</h4>
            <p class="skill-badges-info">
              After receiving your test results, you will be granted an opportunity to join the <a href="/data-corps">Data Corps</a> registry. Through the registry, you will receive notifications about cross-support opportunities to apply your skills across new sectors and challenges, as well as group upskilling training opportunities offered through the Data Talent Board. 
              <br><br>
              <b>You can view the current Registry here:</b>
              </p>
              <div class="skill-badges-button">
                <a href="/">Data Corps Registry </a>
              </div>
          </div>
        </div>
        <div>
          <h4 class="skill-badges-info">Step 4. Keep Going!</h4>
          <p class="skill-badges-info">
            Once you receive your skill certification and register for the <a href="/data-corps">Data Corps</a>, a whole new path of career advancement will open up to you, with new opportunities to build your skills and experience, as well as to learn more deeply about the scope of Bank operations. Good luck! 
          </p>
        </div>
      </div>
    </div>
    <div class="skill-badges-section">
      <h2>How Skill Requirements Were Developed </h2>
        <p class="skill-badges-info">
          The skill matrices were created by a Data Talent Board Technical Working Group, led by the <a href="/">Data Lab</a> and comprised of 20 staff who use these skills in their everyday work and external experts. Periodically, the Data Talent Board will review these standards and evaluate whether updates are required.  
        </p>
        <br><br>
    </div>
</section>