<section class="data-fellows">
  <div class="container">
    <div class="data-fellows-hero">
      <div class="info-container">
        <h1>{{- .Site.Params.UniversityDataFellowsLabel }}</h1>
        <!--<h2 class="sub-header">Formal World Bank university partnership program, creating opportunities for the
          next generation of data scientists to work on international development projects. ​</h2>-->
        <p class="data-fellows-description">
          The World Bank has streamlined university partnerships through use of ​
          a standard framework agreement, designed to cover many different​
          kinds of student projects and engagements. As specific projects and​
          collaborations are initiated, these are added to the signed framework​
          agreement.
        </p>
        <p>World Bank staff are invited to submit project proposals to university​
          partners, who then select and match projects to students / student​
          teams. Proposals will cover a wide range of public service and​
          infrastructure challenges in emerging economies. All will have a​
          geospatial and/or data science component suitable for graduate-level data and computer science students.​</p>
        <p>While students’ time are covered by their university, Bank staff will reimburse students and their advisors
          for any expenses directly associated with their project (e.g., travel). ​
          To receive information about the next call for proposals, or to recommend a new university for the program,
          drop us a note: <a href="mailto:datalab@worldbank.org!">datalab@worldbank.org!</a>

          <br>
          <br>
       ​</p>

      </div>
      <img class="data-fellows-badge" src="{{- .Site.Params.BaseURL -}}/img/data-fellows/data-fellows-badge.svg"
        alt="University Data Fellows Data Lab Badge">
    </div>
    <div class="data-fellows-directory">
      <h2>Projects Supported through the University Data Fellows Program</h2>
    <iframe width="100%" height="500" frameborder="0" scrolling="no"
        src="https://worldbankgroup-my.sharepoint.com/personal/ccalderon2_worldbank_org/_layouts/15/Doc.aspx?sourcedoc={5606b9af-ce9f-41fb-a022-d9a750d68177}&action=embedview&ActiveCell='Website%20Display'!A1&Item='Website%20Display'!A1%3AF18&wdDownloadButton=True&wdInConfigurator=True"></iframe>

    </div>
  </div>

</section>
