<section class="workshops-list-page">
  <div class="container">
    <div class="workshops-hero">
      <div class="hero-text">
        <h1>{{- .Site.Params.WorkshopsSectionLabel -}}</h1>
        <p>Stay current on data best practices for Bank operations
          and meet very cool colleagues and experts. Check out
          upcoming and past events</p>
      </div>
      <img class="clinics-badge" src="{{- .Site.BaseURL -}}/img/workshops-and-clinics/clinics-badge.svg"
        alt="Workshops and Clinics">
    </div>
    <div class="workshops-list-page-container">
      <table id="workshops-and-clinics-table">
        <thead class="table-head">
          <tr>
          {{/*   <th>Date</th> */}}
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Materials</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {{ with .Site.GetPage "section" "workshops-and-clinics" }}
          {{ range sort .Pages ".Params.Scheduled_date" "desc" }}
          <tr>
           {{/*  <td class="date">{{ if .Params.Scheduled_date }}{{- .Params.Scheduled_date -}}{{- end -}}</td> */}}
            <td class="title"><strong>{{- .Title -}}</strong></td>
            <td>{{ if .Params.Workshop_types }}{{- delimit .Params.Workshop_types ", " | humanize -}}{{- end -}}</td>
            <td class="summary">{{- .Content -}}</td>
            <td class="material-links">
              {{ if .Params.Slides_path }}

              <a href="{{- .Params.Slides_path -}} " title="Slides">
                {{ partial "fontawesome.html" "file-powerpoint-solid" }}
              </a>
              {{- end -}}

              {{ if .Params.Image_path }}
              <a href="{{- .Params.Image_path -}} " title="Photos">
                {{ partial "fontawesome.html" "image-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Video_path }}
              <a href="{{- .Params.Video_path -}} " title="Video">
                {{ partial "fontawesome.html" "video-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Extra_link_1 }}
              <a href="{{- .Params.Extra_link_1 -}} " title="First Extra Link">
                {{ partial "fontawesome.html" "link-solid" }}
              </a>

              {{- end -}}

              {{ if .Params.Extra_link_2 }}
              <a href="{{- .Params.Extra_link_2 -}} " title="Second Extra Link">
                {{ partial "fontawesome.html" "link-solid" }}
              </a>

              {{- end -}}
            </td>
          </tr>
          {{- end -}}
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
  </div>
</section>